{% load static %}

<!DOCTYPE html>
<!--<link rel="stylesheet" type="text/css" href="{% static 'mainapp/styles.css' %}" />-->
<!-- Bootstrap Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>
    <div id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Skate and Locate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'index' %}">Home </a>
                    {%if loggedin%}
                    <a class="nav-item nav-link" href="{% url 'myRecommendations' %}">My Recommendations</a>
                    <a class="nav-item nav-link" href="{% url 'viewProfile' %}">My Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %} ">Log out</a>

                    {%else%}
                    <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
                    <a class="nav-item nav-link" href="{% url 'login' %}">Log in</a>
                    {%endif%}
                </div>
            </div>
        </nav>
    </div>
    <div id="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% block content %}
                {% endblock%}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>

<script src="{% static 'mainapp/scripts.js' %}"></script>
