{% load static %}

<!DOCTYPE html>
<!--<link rel="stylesheet" type="text/css" href="{% static 'mainapp/styles.css' %}" />

    -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Homepage</title>
</head>
<body>
    <nav>
        <div id="container">
            <ul class="navbar">
                {%if loggedin%}
                <li class="nav-item">
                    <p class="nav-link" href="">Welcome {{user.username}}</p>
                </li>
                {%else%}
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}" id="home">Home</a>
                </li>

                {%if loggedin%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myRecommendations' %}">My recommendations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %} " id="logoutButton">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewProfile' %}">Profile</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link" id="signUpButton" name="signup" href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="loginButton" name="login" href="{% url 'login' %}">Login</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock%}
</body>

</html>

<script src="{% static 'mainapp/scripts.js' %}"></script>
