
<div id="mapbox">

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 75%;
            /* The width is the width of the web page */
        }
    </style>
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="address" value="" class="form-control" />
        </div>
            <button id="search" class="btn btn-primary">Search</button>

            <button id="nearMe" class="btn btn-primary">Near Me</button>
        
    </div> 
    <div id="container">
        <div id="map">

        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp71tY4sHl9VYLtpd3PPnS7QzQ2TqGVAE&callback=initMap&libraries=&v=weekly" async></script>
</div>

